<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- local style -->
    <link rel="stylesheet" type="text/css" href="../../static/css/style.css">
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin=""/>
    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js" integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og==" crossorigin=""></script>
  <style>
          .badge {
                width: 60px;
                padding: 5px;
                background-color: #0097cd;
                margin-right: 20px;
          }
          @media only screen and (max-width: 720px) {
                        ul h6 span {
                                display: none;
                        }
                }
          .section .fun-btn .badge:hover {
                background-color: #23ade5;
          }
          .section ul {
                padding-left: 0;
                margin-bottom: 0;
          }
          .section h6 {
                margin-top: 10px;
          }
  </style>
  <script>
    function directPageTo(url) {
    window.location.href = url;
    }
  </script>
</head>

<body>
  <div class="page-wrap">
    <div class="header">
      <div class="title">
        Track a Squirrel
      </div>
      <div class="author">
        IEOR4501
      </div>
    </div>
    <div class="side-nav">
      <div class="dir">
        Directory
      </div>
      <div class="item" onclick="directPageTo('/')">
        <img src="../../static/images/nav-icon/home.png" />&nbsp;&nbsp;Home
      </div>
      <div class="item" onclick="directPageTo('/map')">
        <img src="../../static/images/nav-icon/map.png" />&nbsp;&nbsp;Map
      </div>
      <div class="item" onclick="directPageTo('/sightings')">
        <img src="../../static/images/nav-icon/sightings.png" />&nbsp;&nbsp;Sightings
      </div>
      <div class="item active">
        <img src="../../static/images/nav-icon/stats.png" />&nbsp;&nbsp;Statistics
      </div>
    </div>
    <div class="content">
      <div class="section">
        <ol class="breadcrumb">
          <li><a href="/">Home </a></li>
          <li> &nbsp;&nbsp; / &nbsp;&nbsp; </li>
          <li><a href="../">Sightings </a></li>
          <li> &nbsp;&nbsp; / &nbsp;&nbsp; </li>
          <li class="active">Statistics Overview</li>
        </ol>
      </div>
      <div class="section">
        <div align="center">
		<p>
			<h3>Total Numbers:</h3>
		</p>
		<p>
			<h4>Our App is currently keeping strack of <em>{{context.Total}}</em> Squirrel Sightings</h4>
                </p>
		<br>
		</div>
		<div align="center">
			<p>
				<h3>Shift Distribution</h3>
			</p>
			<br>
			<style>
				.table th, .table td { 
				text-align: center;
				vertical-align: middle!important;
				}
			</style>
			<table class="table table-hover" style="width: 700px">
				<thead class="thead-light">
					<tr>
						<th scope="col-4">Shift</th>
						<th scope="col-4">Count</th>
						<th scope="col-4">Percentage(%)</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td scope="row">AM</td>
						<td>{{context.Shift.AM}}</td>
						<td>{{context.Shift_Percentage.AM}}</td>
					</tr>
					<tr>
                                                <td scope="row">PM</td>
						<td>{{context.Shift.PM}}</td>
                                                <td>{{context.Shift_Percentage.PM}}</td>
                                        </tr>
				</tbody>
			</table>
		</div>
		<div align="center">
                        <p>
                                <h3>Age Distribution</h3>
                        </p>
                        <br>
                        <table class="table table-hover" style="width: 700px">
                                <thead class="thead-light">
                                        <tr>
                                                <th scope="col-4">Age</th>
                                                <th scope="col-4">Count</th>
                                                <th scope="col-4">Percentage(%)</th>
                                        </tr>
                                </thead>
                                <tbody>
                                        <tr>
                                                <td scope="row">Juvenile</td>
                                                <td>{{context.Age.Juvenile}}</td>
                                                <td>{{context.Age_Percentage.Juvenile}}</td>
                                        </tr>
                                        <tr>
                                                <td scope="row">Adult</td>
                                                <td>{{context.Age.Adult}}</td>
                                                <td>{{context.Age_Percentage.Adult}}</td>
                                        </tr>
                                </tbody>
                        </table>
                </div>
		<div align="center">
                        <p>
                                <h3>Primary Fur Color Distribution</h3>
                        </p>
                        <br>
                        <table class="table table-hover" style="width: 700px">
                                <thead class="thead-light">
                                        <tr>
                                                <th scope="col-4">Primary Fur Color</th>
                                                <th scope="col-4">Count</th>
                                                <th scope="col-4">Percentage(%)</th>
                                        </tr>
                                </thead>
                                <tbody>
                                        <tr>
                                                <td scope="row">Black</td>
                                                <td>{{context.Primary_Fur_Color.Black}}</td>
                                                <td>{{context.Primary_Fur_Color_Percentage.Black}}</td>
                                        </tr>
                                        <tr>
                                                <td scope="row">Gray</td>
                                                <td>{{context.Primary_Fur_Color.Gray}}</td>
                                                <td>{{context.Primary_Fur_Color_Percentage.Gray}}</td>
                                        </tr>
                                        <tr>
                                                <td scope="row">Cinnamon</td>
                                                <td>{{context.Primary_Fur_Color.Cinnamon}}</td>
                                                <td>{{context.Primary_Fur_Color_Percentage.Cinnamon}}</td>
                                        </tr>
                                </tbody>
                        </table>
                </div>
		<div align="center">
                        <p>
                                <h3>Location Distribution</h3>
                        </p>
                        <br>
                        <table class="table table-hover" style="width: 700px">
                                <thead class="thead-light">
                                        <tr>
                                                <th scope="col-4">Location</th>
                                                <th scope="col-4">Count</th>
                                                <th scope="col-4">Percentage(%)</th>
                                        </tr>
                                </thead>
                                <tbody>
                                        <tr>
                                                <td scope="row">Above_Ground</td>
                                                <td>{{context.Location.Above_Ground}}</td>
                                                <td>{{context.Location_Percentage.Above_Ground}}</td>
                                        </tr>
                                        <tr>
                                                <td scope="row">Ground_Plane</td>
                                                <td>{{context.Location.Ground_Plane}}</td>
                                                <td>{{context.Location_Percentage.Ground_Plane}}</td>
                                        </tr>
                                </tbody>
                        </table>
                </div>
		<div align="center">
                        <p>
                                <h3>Running or not ?</h3>
                        </p>
                        <br>
                        <table class="table table-hover" style="width: 700px">
                                <thead class="thead-light">
                                        <tr>
                                                <th scope="col-4">#</th>
                                                <th scope="col-4">Count</th>
                                                <th scope="col-4">Percentage(%)</th>
                                        </tr>
                                </thead>
                                <tbody>
                                        <tr>
                                                <td scope="row">Running</td>
                                                <td>{{context.Running.True}}</td>
                                                <td>{{context.Running_Percentage.True}}</td>
                                        </tr>
                                        <tr>
                                                <td scope="row">Not running</td>
                                                <td>{{context.Running.False}}</td>
                                                <td>{{context.Running_Percentage.False}}</td>
                                        </tr>
                                </tbody>
                        </table>
                </div>
      </div>
    </div>

    </div>
  </div>
</body>
</html>

<!doctype html>
<html>
	<head>
		<title>Squirrels: Statistics Overview </title> 
                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        </head>
        <body>
		
		



	</body>
</html>
